<a class="brand" href="/" aria-label="ifctoolkit home">
  <svg class="brand-mark" viewBox="0 0 64 64" role="img" aria-labelledby="brand-mark-title" focusable="false">
    <title id="brand-mark-title">IFC Toolkit layered data mark</title>
    <path class="brand-layer brand-layer-bottom" d="M32 13 56 27 32 41 8 27 32 13Z" />
    <path class="brand-layer brand-layer-middle" d="M32 8 56 22 32 36 8 22 32 8Z" />
    <path class="brand-layer brand-layer-top" d="M32 3 56 17 32 31 8 17 32 3Z" />
  </svg>
  <span class="wordmark"><span>ifc</span><span>toolkit</span></span>
</a>
